.resources {
  max-width: 800px;
  margin: 0px auto;
  padding: 15px 20px;
  color: rgb(240, 74, 9);

  p {
    color:white;
    font-size: 20px;
    margin: 0px auto;
  }

  ul {
    li {
      p {
        margin: 15px 0px;

        a {
          color: rgb(125, 219, 47);
          border-bottom: 1px solid white;
          &:hover {
            text-decoration: underline;
          }
        }
      }
    }
  }
}
